.slidy-div {
  transition: background-position 0.5s;
}

.slide-right{
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #1d4ed8 50%, white 50%);
  background-position: 100% 0;      
}

.slidy-div-selected {
  background-position: 0 0;
}